<!-- >>>"./partials/header.html" -->

<section id="main">

  <h1>Frootend Demo</h1>
  <button>Test JS</button>

  <hr>
  <h2>Test Inline SVG</h2>
  Heart:
  >>> "../assets/svg/herz.svg"

  <hr>

  <h2>Test Grid</h2>
  <div class="gridtest-container">
    <div class="gridtest-row">
      <div class="gridtest-half">
        Half Grid
        <div class="gridtest-row">
          <div class="gridtest-half">
            Nested Half
          </div>
          <div class="gridtest-half">
            Nested Half
          </div>
        </div>
      </div>
      <div class="gridtest-quarter">Quarter Grid</div>
      <div class="gridtest-quarter">Quarter Grid</div>
    </div>
  </div>

</section>

<!-- >>>"./partials/footer.html" -->
