<!-- >>>"./partials/header.html" -->

<section id="main">

  <hr>
  <h2>Test Inline SVG</h2>
  >>> "../assets/svg/herz.svg"

  <hr>
  <h2>Test Component Accordion</h2>
  >>> "./components/013_accordion.html"

  <hr>

  <h2>Test Grid</h2>
  <div class="gridtest-container">
    <div class="gridtest-row">
      <div class="gridtest-half">
        1 / 2 Col
        <div class="gridtest-row">
          <div class="gridtest-half">
            1 / 2 Col
          </div>
          <div class="gridtest-half">
  >>> "./components/013_accordion.html"
          </div>
        </div>
      </div>
      <div class="gridtest-quarter">1 / 4 Col</div>
      <div class="gridtest-quarter">1 / 4 Col</div>
    </div>
    <div class="gridtest-row">
      <div class="gridtest-sixth">1 / 6 Col</div>
      <div class="gridtest-sixth">1 / 6 Col</div>
      <div class="gridtest-sixth">1 / 6 Col</div>
      <div class="gridtest-sixth">1 / 6 Col</div>
      <div class="gridtest-sixth-with-offset">1 / 6 Col with <br> 1 / 6 offset</div>
    </div>
  </div>

</section>

<!-- >>>"./partials/footer.html" -->
