.accordion {
  list-style: none outside none;
  width: 100%;
  margin: 0;
  padding: 0;

  &__item {

  }
  &__toggler {
    color: white;
    display: block;
    margin: 0;
    border: none;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background-image: linear-gradient(to bottom, #666, #333);
    transition: .2s all;
    &:hover {
      background-image: linear-gradient(to bottom, #777, #333);
      transition: .2s all;
    }
    .icon {
      float:right;
      width: 15px;
      height: 15px;
      transition: .2s all;
    }
    &.active .icon {
      transform: rotateX(180deg);
      transition: .2s all;
    }
  }
  &__content {
    padding-left: 1rem;
    margin: 0;
  }
}