$gutter: 1rem;

@mixin grid-container {
  padding-left: $gutter;
  padding-right: $gutter;
  @include clearfix;
}

@mixin grid-row {
  margin-left: -($gutter);
  margin-right: -($gutter);
  @include clearfix;
}

@mixin grid-col($width) {
  width: calc( 100% / #{$width} );
  padding-left: $gutter;
  padding-right: $gutter;
  float: left;
  position: relative;
  min-height: 1px;
}

@mixin grid-offset($width) {
  margin-left: calc( 100% / #{$width} );
}