<ul class="accordion"
  data-component="accordion"
  data-component-settings='{"allowMultiple": false, "slideDuration": 300, "showOnStart": false}'>

  <li class="accordion__item" data-accordion-item-container="">
    <button class="accordion__toggler" data-accordion-toggler="">
      Toggle Content
      >>> "../../assets/svg/triangle.svg"
    </button>
    <div class="accordion__content" data-accordion-content="">
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
    </div>
  </li>

  <li class="accordion__item" data-accordion-item-container="">
    <button class="accordion__toggler" data-accordion-toggler="">
      Toggle Content
      >>> "../../assets/svg/triangle.svg"
    </button>
    <div class="accordion__content" data-accordion-content="">
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
    </div>
  </li>

  <li class="accordion__item" data-accordion-item-container="">
    <button class="accordion__toggler" data-accordion-toggler="">
      Toggle Content
      >>> "../../assets/svg/triangle.svg"
    </button>
    <div class="accordion__content" data-accordion-content="">
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
      <p>This is the accordions content</p>
    </div>
  </li>

</ul>