// Welcome to our little styleguide
// This file is not actually being used in prod, only as styleguide

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// This is how we add comments
/*
  Or like this
*/

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// (TODO Antonio): This is how we do ToDo-s

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// This is how we import other SCSS-Files
@import "folder/scss_file";

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// Use mixins whenever it makes sense
@mixin border-radius($radius) {
  border-radius: $radius;
}
.btn--secondary {
  @include border-radius(5px);
}

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// NEVER EVER use @extend!!!
// We have had too many problems with large css-files due to
// careless usage.

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

body {
  // keep spaces between colons and styles
  // YES: "display: block" / NO: "display:block"
  background: #eee;
  color: #333;
  margin: 0;
  padding: 0;
}

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// multiple selectors go into separate lines
header,
footer {
  text-align: center;
  margin: 1rem;
}
// one line between blocks
h1 {
  // If you have more than one font-*, use the force and collect them.
  font: {
    weight: normal;
    family: garamond, serif; // always provide fallback-fonts
    size: 2rem;
  }

  margin-bottom: 1rem;
}

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// This is how we do BEM
.login-widget {
  display: block;
  background: turquoise;

  &__headline {
    font-size: 2rem;
    opacity: 0.8;

    &--active {
      opacity: 1;
    }
  }
}

// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// ———–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.btn--primary {
  // All colors must use variables, except pure black and white
  color: $brand-primary;
  background: white;
}
